@import "./global.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    color: $tertiary-color;

    @include tablet {
      font-size: 2.5rem;
    }

    @include phone {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1rem;
    color: gray;
    text-transform: uppercase;
    font-style: italic;
  }
}
