@import "./global.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 6rem;
  background-color: white;
  transition: all ease-in-out 0.2s;

  @include tablet {
    padding: 1rem 4rem;
  }
  
  @include phone {
    padding: 1rem 4rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $secondary-color;
    text-decoration: none;
  }

  .links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;

    a {
      text-decoration: none;
      color: $secondary-color;
    }

    .active {
      font-weight: bold;
      color: $secondary-color;
      user-select: none;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 0.25rem 0.5rem;
      background-color: white;
      border-radius: 10px;
      border: 2px solid $secondary-color;
      color: $secondary-color;
      font-weight: bold;
      transition: all ease-in-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: white;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        color: white;
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2px solid white;
      }
    }
  }

  .btn-group {
    display: flex;
    gap: 10px;
    height: 100%;

    button {
      width: 100px;
      height: 90%;
      background-color: white;
      border-radius: 10px;
      border: 2px solid $secondary-color;
      color: $secondary-color;
      font-weight: bold;
      transition: all ease-in-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}
