@import "./global.scss";

.choices {
  display: flex;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid $tertiary-color;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;

  .option {
    display: flex;
    width: 50%;

    button {
      display: flex;
      width: 100%;
      height: auto;
      padding: 10px;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      transition: all ease-in-out 0.2s;
      color: $tertiary-color;
      border: 2px solid white;
      font-size: 1rem;

      &:hover {
        background-color: $quaternary-color;
        border-radius: 5px;
      }
    }

    .selected {
      color: white;
      background-color: $tertiary-color;
      border-radius: 20px;
      pointer-events: none;
    }
  }
}
