@import "./global.scss";

.profile-data {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  gap: 20px;
  transition: all ease-in-out 0.2s;

  @include LGtablet {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  @include phone {
    width: 100%;
  }

  .group-content {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.2s;

    @include LGtablet {
      flex-direction: row;
      gap: 20px;
      align-self: center;
    }

    @include tablet {
      flex-direction: row;
      gap: 20px;
      align-self: center;
    }

    @include phone {
      flex-direction: row;
      gap: 20px;
      align-self: center;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
      border: 3px solid $tertiary-color;
      border-radius: 10px;
      padding: 10px;
      font-size: 1rem;
      background-color: transparent;
      color: $tertiary-color;
      font-weight: 600;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: $tertiary-color;
        color: white;
      }
    }

    #delete:hover {
      border-color: $danger-color;
      background-color: $danger-color;
    }
  }
}
