@import "./global.scss";

.quiz-data {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header {
    h1 {
      font-size: 4rem;
      color: $tertiary-color;
    }

    p {
      font-size: 1.5rem;
      color: gray;
      font-style: italic;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 2rem;
      font-weight: 200;
      color: $tertiary-color;
    }

    h2 {
      font-size: 1.75rem;
      color: $tertiary-color;
      font-style: italic;
    }
  }
}
